.page-header
  h1 Sobre el Premio
h2 Procedimiento
p El Premio Sustenta consta de cinco etapas:
h3 I. Postulación
p Para postular al Premio, las organizaciones interesadas deberán conocer las bases. Luego, podrán registrarse e ingresar a la Plataforma de Postulación, en la que deberán contestar las preguntas solicitadas  junto con los respaldos digitales necesarios.
p La postulación se encontrará abierta a las organizaciones a contar del 17 abril y hasta el 31 de mayo de 2017.
p La postulación no tiene costo.
h3 II. Preselección
p Las empresas que cumplan los requisitos mínimos para el premio pasarán a la siguiente etapa, donde se seleccionará a las 7 mejores empresas por cada categoría y nivel de reconocimiento.
p Las empresas preseleccionadas serán informadas mediante correo electrónico del resultado preliminar y se coordinará la auditoría en terreno.
p Las empresas que no cumplan con los requisitos mínimos, recibirán un informe confidencial indicando el desempeño general y áreas a mejorar junto con la notificación.
p Los resultados de la preselección se informarán entre el 12 y el 23 de junio de 2017.
h3 III. Auditoría
p Las empresas que cumplan los requisitos de la etapa de preselección y el puntaje obtenido esté entre los siete mejores de su categoría, serán visitadas y auditadas.
p La auditoría se llevará a cabo en las instalaciones de la empresa y será guiada por un representante dispuesto por ella, quien será el encargado de proporcionar toda la información y verificadores solicitados por los auditores.
p Se entrevistará a tres colaboradores seleccionados aleatoriamente por el auditor, a quienes se les hará preguntas sobre el conocimiento y funcionamiento de actividades declaradas en la preselección.
p Las auditorías se realizarán durante entre el 12 de junio y el 7 de julio de 2017.
h3 IV. Comisión Evaluadora
p Los resultados de las auditorías que contengan observaciones serán expuestos ante la Comisión Evaluadora, conformada por representantes de las organizaciones ejecutora y asociadas. Se considerarán los comentarios de los auditores, pudiendo modificar la puntuación obtenida en algún indicador, de acuerdo a la rúbrica preestablecida.
p Los resultados finales se comunicarán a cada empresa el 24 y 31 de julio de 2017.
h3 V. Premiación
p Se llevará a cabo una ceremonia para la entrega del Premio Sustenta, en el cual se encontrarán presentes las autoridades de todas las organizaciones asociadas y los representantes de las empresas ganadoras, previamente informadas.
p La entrega de los galardones se realizará por nivel de galardón, iniciando por el nivel “Semilla”, luego “Brote” y finalmente “Árbol”.
p Días posteriores a la premiación se anunciará en todos los medios de difusión de los organismos ejecutor y asociados a los ganadores del galardón.
p Finalmente la página del Premio contendrá a todos los ganadores del premio por categoría por año.
p La ceremonia de premiación se realizará el 10 de agosto de 2017.
