.page-header
  h1 Quiénes somos
p Somos un grupo de instituciones que cree firmemente que es posible construir un mejor país a
  través de la incorporación de los principios de la sustentabilidad en el quehacer de todos.

p El Premio Sustentabilidad nació desde un proyecto del Programa de Sustentabilidad y la Escuela de
  Ingeniería Comercial de la <b>Universidad Tecnológica Metropolitana</b>. La Universidad posee una larga trayectoria
  en el ámbito de la sustentabilidad y ha tenido desde su fundación un gran compromiso con el desarrollo sustentable.
  Su Misión mandata a la Universidad a "...formar profesionales... para contribuir al desarrollo sustentable".

p A partir de dicha definición la UTEM ha mantenido un papel protagónico en el desarrollo de la sustentabilidad
  universitaria en Chile; fue pionera en introducir asignaturas ambientales en la gran mayoría de sus carreras,
  en medir su huella de carbono y huella hídrica, certificar una de sus Facultades bajo ISO 14001 y en desarrollar
  un curso obligatorio en sustentabilidad para todas sus carreras, entre otros hitos.

p En 2013 obtuvo el premio Hub de Sustentabilidad a la organización pública con mejor política de sustentabilidad.

p Actualmente lidera la Red Campus Sustentable y el Acuerdo de Producción Limpia de la Educación Superior.

p El <b>Ministerio de Economía, Fomento y Turismo</b> es el encargado de es promover la modernización y competitividad
  de la estructura productiva del país, la iniciativa privada y la acción eficiente de los mercados, el desarrollo
  de la innovación y la consolidación de la inserción internacional de la economía del país a fin de lograr un
  crecimiento sostenido, sustentable y con equidad, mediante la formulación de políticas, programas e instrumentos
  que faciliten la actividad de las unidades productivas del país y sus organizaciones corporativas y las instituciones
  relacionadas con el desarrollo productivo y tecnológico del país, tanto públicas y privadas, nacionales y extranjeras.

p El <b>Ministerio del Trabajo y Previsión Social</b>, compuesto por dos subsecretarías, donde la Subsecretaría del
  Trabajo tiene a su cargo la administración general interna de ambas y debió dar continuidad a las funciones que a la
  fecha de su creación realizaba el Ministerio del Trabajo; teniendo para ello las las siguientes atribuciones: ejecutar
  las políticas, normas e instrucciones emanadas del Ministro; supervigilar el cumplimiento de las leyes del trabajo;
  dirigir la administración de la Subsecretaría y supervisar los servicios de su dependencia; y coordinar las acciones
  del Ministerio en asuntos laborales con la de otros Ministerios y Servicios.

p El <b>Ministerio del Medio Ambiente de Chile</b>, es el órgano del Estado encargado de colaborar con el presidente de
  la República en el diseño y aplicación de políticas, planes y programas en materia ambiental, así como en la protección
  y conservación de la diversidad biológica y de los recursos naturales renovables e hídricos, promoviendo el desarrollo
  sustentable, la integridad de la política ambiental y su regulación normativa.

p La <b>Agencia de Sustentabilidad y Cambio Climático</b>, es un Comité de la Corporación de Fomento de la Producción
  (CORFO) que tiene como misión fomentar la inclusión de la dimensión del cambio climático y el desarrollo sostenible en
  el sector privado y en los territorios. Al mismo tiempo, trabaja para elevar los niveles de sustentabilidad de las
  empresas chilenas permitiendo una transformación hacia una economía baja en carbono, con mayores niveles de eficiencia
  en el uso de los recursos y con mejores capacidades de adaptación al nuevo escenario climático; también desarrolla
  Acuerdos Voluntarios, facilitando el diálogo y la cooperación en los territorios.

p La <b>Mutual de Seguridad CChC</b>, como administradora del Seguro contra Accidentes del Trabajo y Enfermedades
  Profesionales, vela por la seguridad y salud en el trabajo con programas, investigación aplicada, formación y
  capacitación e iniciativas en educación vial y de inclusión laboral. En paralelo, su Hospital Clínico es un referente
  en trauma y rehabilitación. Asesora a empresas y trabajadores en prevención de riesgos; otorga atención médica
  gratuita a los trabajadores accidentados y prestaciones económicas o subsidios en casos de incapacidad o muerte.
  Cuenta con unas 94.000 empresas adherentes y más de dos millones de trabajadores cubiertos a los largo del país.

p Con la mirada orientada a la generación de confianza, en <b>EY</b> ponemos a disposición de nuestros clientes una
  oferta multiservicios de Assurance y Consultoría, que busca satisfacer sus necesidades de información, gestión de
  riesgo y mejoramiento continuo, para preservar el negocio y desarrollar al máximo su potencial. Somos expertos en la
  construcción de empresas confiables y socios estratégicos de nuestros clientes, trabajando siempre con el foco puesto
  en la sostenibilidad de sus negocios. La red global de EY se compone de 250 mil profesionales y tiene presencia en más
  de 150 países. En Chile contamos con más 2.000 clientes y 1.500 colaboradores

p En <b>Diario Sustentable</b> somos un medio digital especializado en sustentabilidad y responsabilidad social
  empresarial, innovación social y emprendimiento social que busca inspirar, sensibilizar y transformar la manera de
  hacer negocios a través de historias empresariales con impacto positivo en la sociedad y/o medio ambiente. Comunicamos
  historias con impacto desde diferentes ámbitos de acción, que brotan en otras personas, se multiplican y siguen
  creciendo. No creemos en las empresas perfectas, sino en las que toman un compromiso de mejora continua y ponen el
  propósito empresarial al centro de su modelo de negocios. Creamos y creemos en historias que están al servicio de la
  solución de problemas sociales y ambientales, donde los beneficios financieros son muy importantes, pero como
  consecuencia de hacer las cosas bien. Buscamos ser impulsores y agentes de cambio en la economía, a través de
  historias que puedan generar impactos tremendos. ¡Te invitamos a formar parte de esta comunidad y fomentar el triple
  impacto económico, social y medioambiental a través de tus historias!